/* notable */
* {
  box-sizing: border-box;
}
p {
  font-family: "Inconsolata", monospace;
}
hr {
  border: none !important;
  height: 2px !important ;
}
body {
  margin: 0;
  transform: translate3d(0, 0, 0);
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: #fffff6;
}

.MuiGrid-item {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}
/* .border {
  border-image-slice: 389 fill;
  border-image-width: 83px;
  /* border-image-source: url(https://www.pinclipart.com/picdir/big/46-465098_black-star-border-clip-art-simple-black-and.png); */
/* border-image-repeat: space; */
.svg {
  fill: #e25a5f !important;
  text-rendering: optimizeSpeed;
}

_::-webkit-full-page-media,
_:future,
:root .stars {
  border-image-repeat: repeat;
}
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    .stars {
      border-image-repeat: repeat;
    }
  }
}
.headerCherryLogo {
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.svgNoSelect {
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

@media screen and (min-width: 2300px) {
  .homeTextNuts {
    max-height: 600px;
    overflow: scroll;
  }
  .container {
    grid-template-rows: minmax(0, 900px) minmax(0, 900px) minmax(0, 900px) minmax(
        0,
        900px
      );

    grid-auto-rows: minmax(0, 900px);
  }
}

@media screen and (max-width: 800px) {
  .empty {
    display: content;
  }
}
@media (max-width: 700px) {
  .makeStyles-border-2 {
    border-image-width: 20px;
    border-image-slice: 543 fill;
  }
}
.milkshakeSvg {
  height: 100%;
  width: 100%;
}

.shadow {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.opacityAn {
  animation: opacityAnimation;
  animation-duration: 0.5s;
}
.dog {
  animation: opacityAnimation;
  animation-duration: 0.5s;
}
a {
  font-family: "Inconsolata", monospace;
}
